\.lenv
__pycache__
05_Transformers\test.csv
05_Transformers\train.csv
05_Transformers\validation.csv

\.venv
.env
.claude
.sixth
D:\Documents\Gen-AI\01_foundations\langchain-basics\my_faiss_index

04_Complete_GenAI\ResearchPapers

05_Building_Applications_With_AI_Agents_Course

05_Building_Applications_With_AI_Agents_Course\docs